* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: radial-gradient(circle at top left, #E1A2B8, #9F2BC1); */
  background: #CAD5E2;
}

/* ----------------------------- Navbar ----------------------------- */
.navbar {
  padding: 2px 0;
}

@media screen and (min-width: 768px) {
  .navbar {
  height: 6vh;
  }
}

/* footer */
footer {
  background: #35BDD0;
  height: 6vh;
}


/* ----------------------------- Home ----------------------------- */
#home {
  height: 88vh;
}

@media screen and (max-width: 768px) {
  #home {
  height: auto;
  }
}

.home_info_container {
  background-color: #383CC1;
  border-radius: 15px;
  color: #fff;
}

.home_grp_item {
  background-color: #3944F7;
  border-radius: 10px;
  color: #fff;
  max-width: 150px;
  cursor: pointer;
}

.home_grp_item i {
  font-size: 2rem;
}

.home_chart {
  max-height: 400px;
  max-width: 400px;
}

.home_expenditure {
  background-color: #3944F7;
  border-radius: 10px;
  color: #fff;
  min-height: 50px;
}


.test {
  max-height: 88vh;
}

.home_expenditures_container {
  max-height: 48vh;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .home_expenditures_container {
   height: 45vh;
   margin-bottom: 10px;
  }
}

.home_groups_container {
  max-height: 48vh;
  overflow-y: scroll;
}

.mostly-customized-scrollbar {
  scrollbar-width: none;   
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #CAD5E2; 
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 20px;
}

/* ----------------------------- Login ----------------------------- */
.login_page_divider {
  width: 50vw;
  min-height: 88vh;
  position: absolute;
  background-color: rgba(108, 99, 255, 0.7);
}

.login_landing {
  min-height: 88vh;
  padding: 15px;
}

.login_landing_card {
  max-width: 1080px;
  min-height: 55vh;
  margin: auto;
  padding: 25px;
  position: relative;
}

.login_landing_card_main {
  min-height: 45vh;
}

@media (max-width: 576px) {
  .login_heading {
      font-size: 2.2rem;
  }
}